
body{
    background-color: #ffffff;
    margin: 0;
}
h1 {
    text-align: center;
}

/* header */
header {
    margin: 50px 0;
    height:125px;
    width: 100%;
    display: flex;
    justify-content: center;
}
header img {
    width: 150px;
    height: 150px;
    background-color: #ffffff;
}
/* meet the team line */
.border-div {
    display: flex;
    margin-top: 30px;
    padding: 35px;
    justify-content: center;
}
.border-div h1 {
    position: relative;
    bottom: 45px;
    padding: 0 10px;
    color: #566b79;
    font-family: 'Poppins', sans-serif;
}
#border-left, #border-right {
    height: 25px;
    width: 35%;
    border-top: solid 2px #566b79; 
}

#diamond {
    padding: 0 10px;
    position: relative;
    bottom: 14px;
    color: #566b79;
    font-size: 24px;
    
}
/* main body */
.main-content {
    display: flex;
    margin: 0;
    padding: 0 50px;
}
#main-row, #join {
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

/* flip animation settings */
.flip-card {
    background-color: transparent;
    width: 365px;
    height: 463px;
    perspective: 1000px; 
    -webkit-perspective: 1000px;
    -o-perspective: 1000px;
    -moz-perspective: 1000px;
  }
  
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    -webkit-transition: -webkit-transform 0.8s;
    -o-transform-style: preserve-3d;
    -o-transition: -o-transform 0.8s;
    -moz-transform-style: preserve-3d;
    -moz-transition: -moz-transform 0.8s;
  }
  
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
  }
  
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    -o-backface-visibility: hidden;
  }

  .flip-card-front {
    background-color: #bbb;
    color: black;
  }
  
  .flip-card-back {
    background-image:url("../images/wine-background.png");
    color: white;
    transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
  }
  .flip-card-back p {
      padding: 0 20px;
  }

  #border-left-bottom, #border-right-bottom {
    height: 25px;
    width: 45%;
    border-top: solid 2px #566b79; 
}
/* join box */
#join-box {
    width: 365px;
    height: 463px;
    background-color: #f4f2f2;
    text-align: center;
}

#join-box h2 {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 48px;
    color: #566b79;
    padding: 65px 30px 0 30px;
    letter-spacing: 8px;
}
#join-box p {
    padding: 20px 30px;
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    color: #e55516;
    letter-spacing: 6px;
}

/* form  */
#form-container{
    width: 365px;
    height: 463px;
    background-color: #f4f2f2;
    margin-left: 25px;
}
@media only screen and (max-width: 855px) {
    #form-container {
        margin: 25px 0 0 0;
    }
}
form {
    padding: 35px;
}
form h4 {
    margin: 10px 0;
}
input {
    width: 100%;
}
textarea {
    width: 100%;
    height: 175px;
}
/* footer */
  footer {
      margin-top: 80px;
      height: 100px;
      width: 100vw;
      background-color: #7893a5;
      text-align: center;
  }
  footer img {
      height: 80px;
      width: 80px;
      padding: 10px;
  }